projectIdeaScrapper/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -576,
        496
      ],
      "id": "140b12f5-52d8-4fbb-9b42-135590e47866",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": " http://dev.to/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        240,
        -48
      ],
      "id": "e8195d4b-6eb9-4552-b3bb-ad44c678621f",
      "name": "RSS Read devto",
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://medium.com/feed/tag/web-development",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        240,
        64
      ],
      "id": "2668de38-855c-4c60-815a-c4d5cc4aba3a",
      "name": "RSS Read medium1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/webdev/.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        240,
        192
      ],
      "id": "088185d8-9125-4a37-a1b4-a97db393607f",
      "name": "RSS Read reddit",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.computerweekly.com/rss/All-Computer-Weekly-content.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        320
      ],
      "id": "5668e366-7cf5-4dd5-b553-4c5cc38a1237",
      "name": "RSS Read compweekly",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.computerweekly.com/rss/Latest-IT-news.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        448
      ],
      "id": "6fad33bc-7695-442a-a208-d570fbcffa95",
      "name": "RSS Read compweekly1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://hnrss.org/newest",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        576
      ],
      "id": "f6726ef1-2584-4959-a9b4-0f15c30ee970",
      "name": "RSS Read hackernews",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        240
      ],
      "id": "b72a5bc9-299c-44ee-8002-aa32e6ca2b40",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://www.producthunt.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        720
      ],
      "id": "9564f1c6-b27c-4ecf-8c57-afb7e0eb42b8",
      "name": "RSS Read productub1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/SideProject/.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        848
      ],
      "id": "ef8da6b6-1a82-4ebd-9e17-634e6c29e7d1",
      "name": "RSS Read rsideprj",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e7e717c-96ea-4757-9bfe-34a3323c2113",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        960,
        128
      ],
      "id": "cb59261a-b30d-4721-9faa-b5f2361fb573",
      "name": "Filter"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "link",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        992,
        592
      ],
      "id": "72195bce-f9c8-4991-a3e5-87e3aa596819",
      "name": "Remove Duplicates",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e7e717c-96ea-4757-9bfe-34a3323c2113",
              "leftValue": "={{ $json.title }}",
              "rightValue": "portfolio|clone|project|web app|AI tool|automation|startup|landing page|SaaS|open source|side project|chatbot|GPT|AI model|ML project|Next.js|React|Tailwind|full stack|frontend|backend|MERN|app|JavaScript|TypeScript|Python|Flask|Django|Node.js|Express|TensorFlow|PyTorch|huggingface|prompt|API|integration|dashboard|design|UI|UX|GitHub|hackathon|deployment|vercel|Netlify|Firebase|Supabase|MongoDB|SQL|REST|GraphQL|auth|authentication|login|signup|CRUD|CMS|content|blog|ecommerce|AI website|Neural Network|LLM|transformer|NLP|vision|YOLO|text-to-image|AI-generated|copilot|plugin|extension|Chrome extension|browser extension|web scraping|crawler|resume builder|image generator|code generation|tool|PDF|summarizer|code assistant|IDE|chat UI|code editor|Kanban|task manager|notion clone|productivity|job board|newsletter|project showcase|learning app|course app|education|PDF tools|SEO|analytics|monitoring|AI bot|resume parser|search engine",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1440,
        64
      ],
      "id": "d497e1b0-2668-472a-93d5-2edee8327a3c",
      "name": "Filter1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9a1ee34-b11d-4f31-ba19-f6b987ce5764",
              "name": "Source",
              "value": "Dev.to",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        -96
      ],
      "id": "9baf474a-4cac-47db-9f4b-e7afa73492cd",
      "name": "Edit Fields dev"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9a1ee34-b11d-4f31-ba19-f6b987ce5764",
              "name": "Source",
              "value": "reddit.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        224
      ],
      "id": "d2663358-42bc-46d0-bfb9-c0dd7ed0183e",
      "name": "Edit Fields reddit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9a1ee34-b11d-4f31-ba19-f6b987ce5764",
              "name": "Source",
              "value": "medium.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        64
      ],
      "id": "30545bf4-c283-45f4-abe0-a3de29c4d234",
      "name": "Edit Fields medium"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9a1ee34-b11d-4f31-ba19-f6b987ce5764",
              "name": "Source",
              "value": "www.computerweekly.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        368
      ],
      "id": "ce66fa24-5dd2-40be-b482-3646af0f899a",
      "name": "Edit Fields compweekly"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9a1ee34-b11d-4f31-ba19-f6b987ce5764",
              "name": "Source",
              "value": "www.computerweekly.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        512
      ],
      "id": "e319ff79-e8de-4110-bb64-c742c6f4ed40",
      "name": "Edit Fields compweekly1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9a1ee34-b11d-4f31-ba19-f6b987ce5764",
              "name": "Source",
              "value": "www.thehackernews.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        688
      ],
      "id": "ed00611c-fef2-46f3-a273-59e5f626e566",
      "name": "Edit Fields hackernews"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9a1ee34-b11d-4f31-ba19-f6b987ce5764",
              "name": "Source",
              "value": "producthunt.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        880
      ],
      "id": "a3e219fc-7150-4c6a-87f2-1ec818836ae9",
      "name": "producthub"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9a1ee34-b11d-4f31-ba19-f6b987ce5764",
              "name": "Source",
              "value": "rsideprojectreddit",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        1056
      ],
      "id": "4a72b56f-76dd-496f-89f5-65969a8cf7a2",
      "name": "rsideprj"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06e3f30d-2b19-4959-bcf8-7d69c744f45c",
              "name": "Title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "8fcb4e0f-633d-4c8c-9bf3-c84f505c783a",
              "name": "Link",
              "value": "={{ $json.link || $json.guid }}",
              "type": "string"
            },
            {
              "id": "77741b4c-600b-47b3-bad2-152ea816adf7",
              "name": "PublishedDate",
              "value": "={{ $json.isoDate || $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "0adb2da8-443c-479b-bd54-e14cfc4058bf",
              "name": "ScrapedAt",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        544
      ],
      "id": "5e59ccac-fc9b-445f-a320-67fb2339e2fe",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "23557051-91cd-808e-ac2c-db705ef70f97",
          "mode": "list",
          "cachedResultName": "My data Scrapper",
          "cachedResultUrl": "https://www.notion.so/2355705191cd808eac2cdb705ef70f97"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Title|title",
              "title": "={{$json.Title  }}"
            },
            {
              "key": "URL|url",
              "urlValue": "={{ $json.Link }}"
            },
            {
              "key": "=ScrapedAt |date",
              "date": "={{ $json.ScrapedAt }}"
            },
            {
              "key": "=PublishedDate |date",
              "date": "={{ $json.PublishedDate }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2128,
        352
      ],
      "id": "d8c13be0-2402-41f4-a381-196dc4ccf776",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "RkxXnMCTOqsGc8Ry",
          "name": "web scrapper Motion api"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e7e717c-96ea-4757-9bfe-34a3323c2113",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1168,
        400
      ],
      "id": "46fbd1f6-8f19-4932-961b-541cf780593f",
      "name": "Filter2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e7e717c-96ea-4757-9bfe-34a3323c2113",
              "leftValue": "={{ $json.title }}",
              "rightValue": "portfolio|clone|project|web app|AI tool|automation|startup|landing page|SaaS|open source|side project|chatbot|GPT|AI model|ML project|Next.js|React|Tailwind|full stack|frontend|backend|MERN|app|JavaScript|TypeScript|Python|Flask|Django|Node.js|Express|TensorFlow|PyTorch|huggingface|prompt|API|integration|dashboard|design|UI|UX|GitHub|hackathon|deployment|vercel|Netlify|Firebase|Supabase|MongoDB|SQL|REST|GraphQL|auth|authentication|login|signup|CRUD|CMS|content|blog|ecommerce|AI website|Neural Network|LLM|transformer|NLP|vision|YOLO|text-to-image|AI-generated|copilot|plugin|extension|Chrome extension|browser extension|web scraping|crawler|resume builder|image generator|code generation|tool|PDF|summarizer|code assistant|IDE|chat UI|code editor|Kanban|task manager|notion clone|productivity|job board|newsletter|project showcase|learning app|course app|education|PDF tools|SEO|analytics|monitoring|AI bot|resume parser|search engine",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1712,
        384
      ],
      "id": "dc9528d4-9c52-4797-aa88-787ad8c0e91e",
      "name": "Filter3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        384,
        1504
      ],
      "id": "aa762244-172c-45b7-93e7-875b1160cd63",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "23557051-91cd-808e-ac2c-db705ef70f97",
          "mode": "list",
          "cachedResultName": "My data Scrapper",
          "cachedResultUrl": "https://www.notion.so/2355705191cd808eac2cdb705ef70f97"
        },
        "limit": 100,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        576,
        1504
      ],
      "id": "e97a677d-e055-486e-98eb-289e8786b320",
      "name": "Get many database pages",
      "credentials": {
        "notionApi": {
          "id": "RkxXnMCTOqsGc8Ry",
          "name": "web scrapper Motion api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst uniqueItems = [];\n\nitems.forEach((item) => {\n  const duplicate = uniqueItems.find(\n    (uniqueItem) => uniqueItem?.json?.id === item?.json?.id,\n  );\n\n  if (!duplicate) {\n    uniqueItems.push(item);\n  }\n});\n\nreturn uniqueItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        1504
      ],
      "id": "14acd308-49c7-49da-ae6a-7ed379662724",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Read hackernews": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "RSS Read devto": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read medium1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "RSS Read reddit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RSS Read compweekly": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "RSS Read compweekly1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields dev",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields medium",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields reddit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields compweekly",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields compweekly1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields hackernews",
            "type": "main",
            "index": 0
          },
          {
            "node": "producthub",
            "type": "main",
            "index": 0
          },
          {
            "node": "rsideprj",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read productub1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "RSS Read rsideprj": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields dev": {
      "main": [
        [
          {
            "node": "RSS Read devto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields reddit": {
      "main": [
        [
          {
            "node": "RSS Read reddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields medium": {
      "main": [
        [
          {
            "node": "RSS Read medium1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields compweekly": {
      "main": [
        [
          {
            "node": "RSS Read compweekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields compweekly1": {
      "main": [
        [
          {
            "node": "RSS Read compweekly1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields hackernews": {
      "main": [
        [
          {
            "node": "RSS Read hackernews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "producthub": {
      "main": [
        [
          {
            "node": "RSS Read productub1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rsideprj": {
      "main": [
        [
          {
            "node": "RSS Read rsideprj",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eeebf95d-49a6-49d9-aaaa-adb5d44b94b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b90248fd66b387191a1f41c961da1d611011a398d8c99c7aab4e7a89c95c4e2"
  },
  "id": "31C1d1Lx7opMJ5sn",
  "tags": []
}